<h1>Admin Dashboard</h1>

<div class="panel panel-primary">
  <div class="panel-body">There are currently <%= @category_count %> categories.</div>
   <div class="panel-body"> There are currently <%= @product_count %> products</div>
</div>